body {
    margin: 0;
    font-family: Arial, sans-serif, 標楷體;
    background-color: #eeede1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.main-container {
    display: flex;
    background-color: #f0f0f0;
    width: 900px;
    height: 155vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
}

.left-panel, .right-panel {
    height: 1000px;
}

.left-panel {
    width: 280px;
    height: 100%;
    background-color: #535353;
    display: flex;
    flex-direction: column;
    color: white;
    box-sizing: border-box;
}

.photo-panel {
    background-image: url('profile.jpg');
    margin: 0 auto;
    display: block;
    background-size: cover;
    background-position: center;
    height: 50%;
    border-radius: 0px;
    padding: 0px;
}

.text-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
}

.text-content h2 {
    margin-bottom: 5px;
}

.nccu-icon {
    width: 0px;
    height: auto;
    align-self: center;
    padding: 0px;
}

.right-panel {
    width: 540px;
    padding: 20px;
}

.right-panel h2 {
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

.timeline .entry {
    margin-bottom: 30px;
    display: flex;
    gap: 30px;
}

.homework-list ul {
    list-style: none;
    padding: 0;
    margin-bottom: 100px;
}

.homework-list h2 {
    margin-top: 100px;
}

.homework-list ul li a {
    text-decoration: none;
    color: black;
}

.homework-list ul li a:hover {
    text-decoration: underline;
}

.favorite-music {
    margin: 20px 0;
}

.music-gallery {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 10px;
}

.favorite-music .music-gallery img {
    width: 60px;
    height: 60px;
    border-radius: 5px;
}

.music-item {
    text-align: center;
}

.music-note {
    font-size: 12px;
    color: #666;
    margin-top: 15px;
    line-height: 1.5;
}